# GMSL Analysis and Prediction

## Final Dataset for GMSL analysis and prediction

Spajanjem prethodno dobijenih skupova podataka i izdvajanjem relevantnih atributa formira se konačan skup podataka nad kojim će se izvršiti detaljna analiza i dodatna obrada podataka.

Podaci će biti grupisani na osnovu datuma merenja na mesečnom nivou (od 1969. do 2015.)

Podatak na osnovu kog će se formirati klasa jeste **GMSL (global mean sea level)** koji predstavlja globalnu srednju vrednost nivoa mora na mesečnom nivou. 

Klasa će uzimati vrednost 0 ili 1:
* 0 - nije se desio porast nivoa mora u odnosu na prethodni mesec
* 1 - desio se porast nivoa mora u ondosu na prethnodni mesec

Podaci koji utiču na porast nivoa mora:

* Extent - ukupna površina morskog leda izražena u jedinici 10^6 kvadratnih kilometar
* WaterTemp - temperatura vode izražena u celzijusima 
* O2ml - zasićenost vode kiseonikom
* LandAvgTemp - prosečna temperatura kopna za dan merenja
* LandAndOceanAvgTemp - prosečna temperatura kopna i mora za dan merenja
* CO2mmf - prosečna koncentracija CO2 na mesečnom nivou

In [38]:
import pandas as pd
import seaborn as sb

In [39]:
df_GMSL = pd.read_csv('processed_datasets/GMSL.csv', delimiter=',')

In [40]:
df_GMSL.head()

      Date   GMSL
0  1880-01 -183.0
1  1880-02 -171.1
2  1880-03 -164.3
3  1880-04 -158.2
4  1880-05 -158.7

In [41]:
df_Extent = pd.read_csv('processed_datasets/Extent.csv', delimiter=',')

In [42]:
df_Extent.head()

      Date     Extent
0  1978-10  14.050833
1  1978-11  13.770767
2  1978-12  12.031156
3  1979-01  10.408100
4  1979-02   9.658179

In [43]:
df_Water = pd.read_csv('processed_datasets/WaterTemp_O2ml.csv', delimiter=',')

In [44]:
df_Water.head()

      Date  WaterTemp    O2ml
0  1959-08     16.950  4.2100
1  1969-01     13.265  5.5950
2  1969-02     12.380  5.7100
3  1969-03     15.535  5.4900
4  1969-04     12.070  5.3125

In [45]:
df_Temp = pd.read_csv('processed_datasets/LandAverageTemp_LandAndOceanAverageTemp.csv', delimiter=',')

In [46]:
df_Temp.head()

      Date  LandAverageTemperature  LandAndOceanAverageTemperature
0  1850-01                   0.749                          12.833
1  1850-02                   3.071                          13.588
2  1850-03                   4.954                          14.043
3  1850-04                   7.217                          14.667
4  1850-05                  10.004                          15.507

In [47]:
df_CO2 = pd.read_csv('processed_datasets/CO2.csv', delimiter=',')

In [48]:
df_CO2.head()

      Date     CO2
0  1958-03  315.71
1  1958-04  317.45
2  1958-05  317.50
3  1958-06  -99.99
4  1958-07  315.86

In [49]:
#merged_df = df_CO2.merge(df_Extent,left_on = 'Date', right_on = 'Date')
#merged_df.head()

In [50]:
# df['Date'].value_counts() # Iskoristiti da se prebroje vrednosti GMSL kada budu True/False tj. 0/1